/* Your styles here */
body{
    margin: 0;
    background-color: #E9EDEE;
}
header img, main, ul, article {
    margin: 0 2.4vw;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

header {
background-color: #222F3F;
height: 4.7em;
align-content: center;;
}

header img{
    height: 60%;
}

nav, aside{
    background-color: #364759;
    height: 2.4em;
    align-content: center;
}

li{ 
    list-style: none;
    display: inline;
}

nav a, .giftCard a, .sezioni-regali a, .sezioni-regali p { 
    color: #E5EEF5;
    padding-right: 1.3rem;
    text-decoration:none;
}

main div, article{
    margin: 2.4vw 0;
    width: 100%;
}

.giftCard {
    background-color: #F56600;
    height: 2.4em;
    align-content: center;
    text-align: center;
}

.sezioni-regali{
    background-image: url(../images/bg-image.png);
    background-repeat: repeat;
    align-content: center;
    text-align: center;
    cursor: pointer;
    height: 13em;
   
}


section{
    background-color: white;
}
section p{
    align-content: center;
    padding: 1em 1em;
    margin: 0;
}

.stile_immgine {
    margin: 0;
    height: auto;
    width: 26em; /* Imposta la larghezza del contenitore immagine al 25% della larghezza del contenitore */
    display: inline-block;
    padding: 0 1em; 
    padding-bottom: 1em;
}

.stile_immgine img {
    width: 100%;
    height: 23em; /* Fai sì che le immagini riempiano completamente i loro contenitori */
    border-radius: 20px;
    box-shadow: 0px 4px 10px black;   
}

.Shop_now {
    text-decoration: none;
    color: #006074;
    font-weight: 600;
}

article{
align-content: center;
 text-align: center;
}

.Foto_intera{
    margin: 0;
}

.Foto_intera img{ 
    width: -webkit-fill-available;
}

article p{ 
margin: 0;
font-weight: 500;
}

aside  p{
    text-align: center;

}
aside a{
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 600;
}

footer{
    background-color: #222F3F;
    height: 7em;
    align-content: center;
    text-align: center;
}

footer img{
    height: 70%;
}